/* This is to deal with long KaTeX equations.
 * See also https://github.com/KaTeX/KaTeX/issues/1983#issuecomment-1314762849
 */

.katex-display {
    overflow: auto hidden;
}

.katex-display > .katex > .katex-html > .tag {
    display: inline-block;
    position: absolute;
    padding-left: 0.5rem;
}
 
/* Only use this when the equations are overflowed */
.tag-overflowed {
    position: relative !important;
}