---
layout: page
---
<link rel="stylesheet" href="/assets/css/articleview.css"/>
<link rel="stylesheet" href="/assets/css/tag.css"/>

Tags:
{% for tag in site.tags %}
<a class="post-tag" href="/tags.html?tagName={{ tag[0] }}">{{ tag[0] }}({{ tag[1].size }})</a>
{% endfor %}

{%- if site.posts.size > 0 -%}
{% for post in site.posts %}
    <div class="article">
    <h1>{{ post.title }}</h1>
    <p>{{post.des}}</p>
    <span id="date">{{ post.date | date_to_string }}</span>
    <a href="{{ post.url }}">Link</a>
    </div>
{% endfor %}
{%- endif -%}